.title{
    text-align: center;
}
.customers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4%;
}
.profile{
    display: flex;
    padding: 0 2% 5% 2%;
    flex: 1 0 20%;
    flex-direction: column;
    align-items: center;
}
.profilepic{
    width: 100%;
}
.name{
     text-transform: uppercase;
     font-weight: bold;
     border-bottom: 1px solid black;
}
.address{
    /*line-height: 1.5px;   sometimes because the state is not two letters, this jacks up the formatting of it*/
    text-transform: capitalize;
    margin: 0;
}
.email{
    margin: 15px 0 30px 0;
}
.phone{
    margin: 0;
}